* {
    font-family: "roboto",;
}

header, footer {
    background-color: #1F2937;
    display: flex;
    color: white;
}
.tophead.h1 {
    font-size: 48px;
    font-weight: 800;

}
.quote {
    background-color: #E5E7EB;
    display: flex;
}

.tophead, .bottomhead {
    display: flex;
}

.container {
    display: flex;
}

.illustrations-text {
    display: flex;
}
.info {
    display: flex;
    flex-direction: column;
}
img {
    width: 200px;
    height: 200px;
}

